.loginForm {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1.5rem;
}

.loginForm label{
    width: 300px;
    display: inline-block;
    margin-top: 1rem;
}
.loginForm input{
    width: 80%;
    padding: 0.3rem 0.5rem;
    display: inline-block;
    background-color: rgb(210, 214, 247);
}

.loginForm button{
    margin-top: 1rem;
}

.errorMessage {
    color: rgb(110, 7, 7);
}